# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook metadata
*.nbconvert.ipynb

# Environment files
.env
.venv/
venv/
env/
ENV/
*.env

# Python virtual environment files
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# test output
junit-*.xml

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Builds
build/
dist/
*.egg-info/

# Data
*.sqlite3
*.db
*.h5
*.hdf5

# Jupyter runtime
~/.local/share/jupyter/runtime/